

body{
	background: linear-gradient(90deg,rgba(255, 234, 0, 1) 0%, rgba(255, 191, 0, 1) 50%, rgba(255, 234, 0, 1) 100%);
}


div{
	display: flex;
	align-items: center;
	justify-content:space-between;
}