
body{
	background: linear-gradient(135deg,rgba(255, 60, 0, 1) 0%, rgba(255, 128, 0, 1) 50%, rgba(251, 179, 63, 1) 100%);
}

h1{
	background-color: #00BFFF;
	color: #FF1493;
}

.getJoke{
	display: flex;
	align-items: center;
	justify-content:space-between;
	background-color: #00BFFF;
	color: #FF1493;
}