
body{
	background: radial-gradient(circle,rgba(251, 235, 63, 1) 0%, rgba(255, 247, 0, 1) 50%, rgba(251, 188, 63, 1) 100%);
}

h1{
	background-color: #00BFFF;
	color: #FF1493;
}

.getJoke{
	display: flex;
	align-items: center;
	justify-content:space-between;
	background-color: #00BFFF;
	color: #FF1493;
}